@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

input {
  outline: none;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.646);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.646);
}

.animation-fade {
  animation: fade ease-in-out 1s;
}

.background {
  background-image: linear-gradient(white, white),
    radial-gradient(
      circle at 20% 107%,
      #fdf497 0%,
      #faee6d 20%,
      #f58528 40%,
      #fd5949 50%,
      #d6249f 60%
    );
  border: double 1px transparent;
  background-clip: content-box, border-box;
}

.post-explore-overlay {
  opacity: 0;
  transition: all ease-in-out 0.4s;
}

.post-explore:hover .post-explore-overlay {
  opacity: 1;
}

.skeleton {
  animation: skeleton 1s linear infinite alternate;
}

.line-clamp-3,
.line-clamp-1,
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

@keyframes fade {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

@keyframes skeleton {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
